{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Book List</title>
	<link rel="shortcut icon" type="image/png" href="https://image.ibb.co/m6LaUf/universe.png"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cssBook.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Navbar -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	 <span style="font-size:30px;cursor:pointer; color: white; text-align: left; padding-top: 10px; padding-left: 20px;" onclick="openNav()">&#9776;</span>
	 <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="text-white" href="/">HOME</a>
      <a class="text-white" href="/lab-6/">Status</a>
      <a class="text-white" href="/books/">Books</a>
      <a class="text-white" href="/lab-10/">Subscribe</a>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
   <meta name="google-signin-client_id" content="996165362169-8l606t82e32vbi8vdlktejej1cotdjke.apps.googleusercontent.com">
</head>
<body id="background">

	<div style="text-align: center;">
		<h1 style="color: black;">LIST OF BOOKS</h1>
	</div>

	<div class="container">
		<img src="https://image.ibb.co/dcSMZf/star.png" alt="star" width="50">
		<div class="centered" id="counter">0</div>
	</div>
	<br>

	<div class="greetings">
			<!-- user authenticated -->
        {% if user.is_authenticated %}
         <p style="font-size: 26px; font-family: 'Nunito', sans-serif;">Hello, {{ user.first_name }} {{user.last_name}} </p>
         <hr style="font-weight: bold">
          <a class="login" onclick="signOut()" style="color: white; text-align: center;" href="/books/logout">
         Logout</a><br>
			<!-- end -->
	</div>

    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <form id="searchbook" method="POST" action= "{% url 'data' %}">
                	{% csrf_token %}
                	<br>
                	<input type="text" id="myInput" placeholder="Search for a Book.." style="color: black;" name="search" title="Type in a name">
                    <button>Search</button>
                </form>
            </div>
        </div>
    </div>
    <div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
		<table id="tabel" class="table table-light table-bordered table-hover" style="background-color: whitesmoke; color: black;">
			<tbody>
			<thead>
				<tr style="background-color: black; color: white;">
			    	<th scope="col" style="text-align: center;">No</th>
			    	<th scope="col" style="text-align: center;">Image</th>
			    	<th scope="col" style="text-align: center;">Title</th>
			     	<th scope="col" style="text-align: center;">Authors</th>
			     	<th scope="col" style="text-align: center;">Publisher</th>
			      	<th scope="col" style="text-align: center;">Categories</th>
			      	<th scope="col" style="text-align: center;">Add to Favorites</th>
				</tr>
			</thead>
			</tbody>
		</table>	
	</div>
</div>

{% else %}
	<script type="text/javascript">
		window.location.replace("/books/login");
	</script>
         <!-- <a class="login" href="/books/login" style="color: white; text-align: center;">Login</a><br> -->
{% endif %}

<script>
  function signOut() {
  alert("Anda berhasil logout")
   var auth2 = gapi.auth2.getAuthInstance();
   auth2.disconnect().then(function () { 
   	console.log("hai")
   });
  }

  function onLoad() {
  	console.log("halo")
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
     }
 </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

        <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>

        <script>
            var result = JSON.parse("{{data|escapejs}}");
	        var print = '<tr>';
	        for(i = 0; i<result.items.length;i++){
	           print+= '<th scope ="row">' + (i+1) +'</th> <td>'+"<img src='"+result.items[i].volumeInfo.imageLinks.thumbnail +"'></img>"+"</td>";
	                    print+= "<td>"+result.items[i].volumeInfo.title +"</td>";
	                    print+= "<td>"+result.items[i].volumeInfo.authors +"</td>";
	                    print+= "<td>"+result.items[i].volumeInfo.publisher +"</td>";
	                    print+= "<td>"+result.items[i].volumeInfo.categories +"</td>";
	                    print+= "<td style="+"'text-align:center'"+">";
	                    print+='<i id="fav" class ="fa fa-heart"></i></td></tr>';

	                }
	                $('tbody').append(print);
        </script>
	<script src="{% static 'js/styleBook.js' %}"></script>
</body>
</html>