{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="shortcut icon" type="image/png" href="https://image.ibb.co/m6LaUf/universe.png"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}" />
	 <span style="font-size:30px;cursor:pointer; color: white; text-align: left; padding-top: 10px; padding-left: 20px;" onclick="openNav()">&#9776;</span>
	 <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="text-white" href="/">HOME</a>
      <a class="text-white" href="/lab-6/">Status</a>
      <a class="text-white" href="/books/">Books</a>
      <a class="text-white" href="/lab-10/">Subscribe</a>
    </div>

<!-- 		<div class="navbar fixed-top" id="navbar">
		<span>
			<a href="#">HOME</a>
			<a href="/books/">Books</a>
			<a href="/lab-6/">Status</a>
			<a href= "/lab-10/">Subscribe</a>
		</span>
	</div> -->
</head>
<body class = "loading" id="background">

	<div class="dots-loader"></div>

    <div class="container h-90">
        <div class="row justify-content-around">
            <div class="col-sm-7">
            	<div class="jumbotron">
          <h1>
		  <a class="typewrite" data-period="2000" data-type='[ "Hello!", "Im Falya Aqiela"]'>
		    <span class="wrap"></span>
		  </a>
		</h1>
		<img title="Ini Fotoku" src="https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/41356489_2086381294729523_8140473243795456000_n.jpg?_nc_cat=0&oh=29be8ffd30f25b2b60eebd4e85dc71f6&oe=5C2EA4FF" width="250">
		<br>
		<p>Faculty of Computer Science</p>
		<p>Depok, Jawa Barat, Indonesia</p>
		<button type="button" class="btn btn-info" id="tema">Change Theme</button>
    </div>
            </div>
            <div class="col-sm-5">
	<div class="jumbotron" id="aktivitas">
		<h3 id="kata">See My Daily Life!</h3>

		<button class="accordion">Aktivitas</button>
		<div class="panel">
		  <p id="font">
		  	<li>Belajar</li>
		  	<li>Mengerjakan Tugas</li>
		  	<li>Makan</li>
		  	<li>Nonton Drama Korea</li>
		  </p>
		</div>

		<button class="accordion">Organisasi / Kepanitiaan</button>
		<div class="panel">
		  <p id="font">
		  	<li>Vice PJ Penunjang CGT 2018</li>
		  	<li>Member of International Relations in iGE AIESEC Universitas Indonesia</li>
		  	<li>HRD Seminar COMPFEST X</li>
		  	<li>Staff Acara OH Fasilkom 2018</li>
		  </p>
		</div>

		<button class="accordion">Prestasi</button>
		<div class="panel">
		  <p id="font">
		  	<li>Juara 1 Mengatasi Solusi Sampah Asia Youth Leader 2018</li>
		  	<li>Juara 3 Menulis Karya Ilmiah PT April Paper</li>
		  </p>
		</div>
	</div>
            </div>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>

<script src="{% static 'js/function.js' %}"></script>
</body>
</html>