{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Subscribe</title>
<head>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'sub.css' %}" />
<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}" />
	 <span style="font-size:30px;cursor:pointer; color: white; text-align: left; padding-top: 10px; padding-left: 20px;" onclick="openNav()">&#9776;</span>
	 <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="text-white" href="/">HOME</a>
      <a class="text-white" href="/lab-6/">Status</a>
      <a class="text-white" href="/books/">Books</a>
      <a class="text-white" href="/lab-10/">Subscribe</a>
    </div> -->
</head>
<body>
	<!-- body of Card subscribe -->
<div class="subscribe">
<!-- 	Image:: Email Logo  -->
<img src="https://i.ibb.co/x68tCZ7/envelope-1.png" alt="envelope-1" alt="Email">
	
<!-- 	Title Card subscribe  -->
	<h2>subscribe</h2>
<!-- 	Description -->
	<p> to our newsletter to get updates about our new products  </p>
	<form method="post" id="form" onsubmit="window.submit()">
		{% csrf_token %}
		{{form.nama}}
		{{form.email}}
		{{form.password}}
        <button type="submit" id="button" formnovalidate="formnovalidate">Subscribe</button>
        <button style="background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%)" type="submit" id="unsub">Unsubscribe</button>
	</form>

	<form method="post" id="email" onsubmit="window.hapus()">
		{% csrf_token %}
		{{form.email1}}
        <button style="background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%)" type="submit" id="unsub1" formnovalidate="formnovalidate">Unsubscribe</button>
	</form>
	</div>

	<!-- table subscriber list -->
	<div class="container">
    <div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
		<table id="tabel" class="table table-light table-bordered table-hover" style="background-color: whitesmoke; color: black;">
			<tbody>
			<thead>
				<tr style="background-color: black; color: white;">
					<th scope="col" style="text-align: center;">No</th>
			    	<th scope="col" style="text-align: center;">Name</th>
			    	<th scope="col" style="text-align: center;">Email</th>
				</tr>
			</thead>
			</tbody>
		</table>	
	</div>
</div>
</div>

<!-- navbar -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <!-- list subscriber -->

<!-- Validating Email -->
<script type="text/javascript">

	$("#email").hide();
	var temp = document.getElementById("tabel");
	$.ajax({
		url : "{% url 'addSubscribe' %}",
		dataType : 'json',
		success : function(result){
			list(result);
		}
	})

	$("#unsub").click(function(){
		$("#form").hide();
		$("#email").show();
	});

	console.log("hello")
	document.getElementById("button").disabled = true;
	var email = document.getElementById('text2');
	var time = null;

	email.onkeyup = function(e){
		clearTimeout(time);
		time = setTimeout(function(){
			$.ajax({
				method : 'POST',
				url : "{% url 'validasi' %}",
				data : {
					'email' : email.value
				},
				dataType : 'json',
				success: function(data){
					if(data.is_taken){
						console.log("udah ada")
						alert("Email sudah terdaftar, masukkan email lain");
						email.value = "";
					}
					else{
						document.getElementById("button").disabled = false;
						console.log("data tidak ada")
						alert("Email dapat digunakan");
					}
				}
			})
		}, 1200);
	}

	function hapus(){
		console.log("data")
		$.ajax({
			method:"POST",
			url: "{% url 'unSubscribe' %}",
			data:{
				email: $('#text4').val(),
		},
			success:function(){
				document.getElementById("unsub1").disabled = true;
				alert("Data Anda Berhasil di Unsubscribe")
				$('#text4').val() = "";
			}
		})
	}

	function submit(){
		console.log("submit")
		event.preventDefault();
		register();
	}

	function list(data){
		console.log(data.length)
		var print = '<tr>'
		for(i = 0; i < data.length; i++){
	        print+= '<th scope ="row">' + (i+1) +'</th>';
	        print+= "<td>"+data[i].nama +"</td>";
	        print+= "<td>"+data[i].email +"</td></tr>";
	    }
	    $('tbody').append(print);
	}

	function register(){
		console.log("register")
		var nama = document.getElementById("text1");
		$.ajax({
			type : "POST",
			url : "{% url 'addSubscribe' %}",
			dataType: 'json',
			data :{
				nama : $('#text1').val(),
				email : $('#text2').val(),
				password : $('#text3').val(),
			},
			success: function(result){
				alert($('#text1').val() + " telah terdaftar")
				window.location.reload();
			}
		})
	}
</script>
</body>
</html>

