@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-container {
	position: absolute;
	top: 100px;
	right: 100px;
	transform: translate(0, -100%);
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 2px;
	background-color: rgba(34, 34, 34, 0.5);
}

.bar:before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	transition: all 300ms ease-in-out;
}

.bar:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	transition: all 300ms ease-in-out
}

.menu-container.bar-active .bar:before {
	top: 0;
	left: 0;
	transform: rotate(45deg);
	background-color: rgb(34, 34, 34);
}

.menu-container.bar-active .bar {
	background-color: transparent;
}

.menu-container.bar-active .bar:before {
	top: 0;
	left: 0;
	transform: rotate(45deg);
	background-color: rgb(34, 34, 34);
}

.menu-container.bar-active .bar:after {
	top: 0;
	left: 0;
	transform: rotate(-45deg);
	background-color: rgb(34, 34, 34);
}

/* Overlay */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: rgba(34, 34, 34, 0.05);
}

.active {
	width: 10%;
	transition: all 300ms ease-in-out;
}

.non-active {
	width: 0;
	transition: all 300ms ease-in-out;
}

/* Overlay Navigation */

nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	text-align: center;
}

nav a {
	color: #222;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 100px;
	cursor: pointer;
	position: relative;
}

nav a:before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #222;
	transition: all 300ms ease-in-out;
	transform: scaleX(0);
}

nav a:hover:before {
	transform: scaleX(1);
}